# Google
GOOGLE_API_KEY=your-google-api-key
GOOGLE_MODEL=your-google-model

# Tavily
TAVILY_API_KEY=your-tavily-api-key

# LangSmith
LANGSMITH_TRACING=langsmith-tracing-settings # ("true" or "false")
LANGSMITH_ENDPOINT=langsmith-endpoint # (eg. "https://api.smith.langchain.com")
LANGSMITH_API_KEY=your-langsmith-api-key
LANGSMITH_PROJECT=your-langsmith-project-name